@model MyDiary.Models.UserInfo
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    <div class="form-group">
        @Html.LabelFor(m=>m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class="form-control",placeholder="请输入用户名!"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m=>m.PassWord)
        @Html.PasswordFor(m=>m.PassWord,new { @class="form-control",placeholder="请输入密码!"})
    </div>
    <div class="btn-group pull-right">
        <button type="submit" class="btn btn-primary" id="btnLogin">Login</button>
        <button type="button" class="btn btn-default" id="btnRegister">Register</button>
    </div>
    <div class="clearfix">
    </div>

   <script>
       $(function () {
           $("#btnRegister").click(function () {
               location.href="@Url.Content("~/Account/Register")"
           });
       });
   </script>
}

